body {
	background-image: url("images/bg.jpg");
	background-position: center;
	font-family: "Ubuntu Condensed";
}

button {
	font-family: "Ubuntu Condensed";
	font-size: 15px;
	height: 25px;
}

nav {
	margin: 15px 0 5px 0;
}

a {
	text-decoration: none;
}

audio {
	max-width: 200px;
	position: fixed;
	top: 0;
	left: 0;
}

input {
	font-family: "Ubuntu Condensed";
}

h1 {
	font-size: 40px;
}

#game-board {
	width: 90%;
	height: 70%;
	border-width: 2px 2px 2px 0;
	border-style: solid;
	border-top-style: dashed;
	border-color: rgb(54, 135, 36);
	display: flex;
	justify-content: space-between;
	max-width: 730px;
	margin-bottom: 10px;
}

#body-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background: none;
}

.column {
	height: 100%;
	width: 14.28%;
	border-width: 0 0 0 2px;
	border-style: solid;
	border-color: rgb(54, 135, 36); 
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
}

.p0 {
	width: 90%;
	height: 16%;
}

.p1	{
	width: 90%;
	height: 16%;
	border-radius: 100%;
	background: radial-gradient(ellipse at center, #faf096 0%,#fefcea 0%,#e2ca10 100%);
}

.p2 {
	width: 90%;
	height: 16%;
	border-radius: 100%;
	background: radial-gradient(ellipse at center, #f85032 0%,#f16f5c 0%,#a8362b 99%,#a8362b 100%,#e73827 100%);
}

.score {
	display: inline-block;
	text-decoration: underline;
	font-size: 18px;
}

#score-container {
	width: 80%;
	display: flex;
	justify-content: space-around;
}

#player-one-score {
	text-align: center;
	color: yellow;
	font-size: 40px;
}

#player-two-score {
	text-align: center;
	color: darkred;
	font-size: 40px;
}

#modal {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	background: rgba(0,0,0,.7);
	display: none;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#close-modal {
	height: 5%;
	width: 5%;
	align-self: flex-end;
	margin: 10px 10px 0 0;
	background: white;
	border-radius: 40%;
	text-align: center;
}

#close-modal:hover {
	background: lightgrey;
	height: 5%;
	width: 5%;
	align-self: flex-end;
	margin: 10px 10px 0 0;
	border-radius: 40%;
	text-align: center;
}

.modal-content {
	background: rgba(14, 200, 150, .9);
	width: 75%;
	display: flex;
	border-radius: 5%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}