body {
	background-image: url("images/bodyback.jpeg");
	background-size: cover;
}

audio {
	max-width: 65px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0,0,200, .3);
	height: 40px;
	margin: 10px;
}

input {
	margin: 5px 0 5px 0;
}

#dropdown {
	position: relative;
}

#scoreboard-container {
	position: absolute;
	background: rgba(1,1,1,.5);
	width: 250px;
	display: none;
	border-radius: 0 0 20% 20%;
}

.scoreboard {
	color: aquamarine;
	font-size: 20px;
	text-align: center;
}

#second-place {
	font-size: 18px;
}

#third-place {
	font-size: 16px;
}

#fourth-place {
	font-size: 14px;
}

#highscore {
	font-size: 25px;
}

#userName {
	width: 50%;
	height: 30px;
	font-size: 25px;
}

#fifth-place {
	font-size: 12px;
}

#bodywrap {
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
}

.nav {
	height: 60%;
	border-radius: 10%;
	background: rgb(134, 200, 91);
}

h1 {
	text-align: center;
	color: white;
	font-family: "Exo";
	letter-spacing: 5px;
}

h2 {
	font-size: 50px;
}

#modal {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	background: rgba(0,0,0,.7);
	display: none;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#close-modal {
	height: 5%;
	width: 5%;
	align-self: flex-end;
	margin: 10px 10px 0 0;
	background: white;
	border-radius: 40%;
	text-align: center;
}

#close-modal:hover {
	background: lightgrey;
	height: 5%;
	width: 5%;
	align-self: flex-end;
	margin: 10px 10px 0 0;
	border-radius: 40%;
	text-align: center;
}

.modal-content {
	background: rgba(14, 200, 150, .9);
	width: 75%;
	display: flex;
	border-radius: 5%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#name-submit {
	padding: 20px 0 20px 0;
	display: none;
	border-radius: 40px;
	font-size: 20px;
}

#congratulations {
	font-size: 30px;
}

#instructions {
	text-align: center;
	color: white;
	width: 40%;
	margin: 0 auto;
}

#score {
	font-size: 50px;
}

footer {
	text-align: center;
	color: white;
}

#new-game-container {
	text-align: center;
}

#current {
	width: 100%;
	height: 0px;
	position: relative;
	bottom: 7%;
	display: flex;
	justify-content: center;
	z-index: 1;
}

@keyframes reverseSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

#inner-current {
	width: 70px;
	height: 70px;
	background: darksalmon;
	font-size: 40px;
	z-index: 2;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20%;
	animation-name: ;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#game-board {
	margin: 100px auto;
	height: 500px;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	max-width: 500px;
	animation-name: ;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: linear;
}

.button-container {
	height: 48%;
	width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 95%;
	width: 95%;
}

#button-1-container {
	border-radius: 10% 50% 0 50%;
	margin: 0 1% 1% 0;
}

#button-2-container {
	border-radius: 50% 10% 50% 0;
	margin: 0 0 1% 1%;
}

#button-3-container {
	border-radius: 50% 0 50% 10%;
	margin: 1% 1% 0 0;
}

#button-4-container {
	border-radius: 0 50% 10% 50%;
	margin: 1% 0 0 1%;
}

#button-1 {
	background: radial-gradient(ellipse at top left, #c5deea 0%,#8abbd7 31%,#066dab 100%);
	border-radius: 10% 50% 0 50%;
}

#button-2 {
	background: radial-gradient(ellipse at top right, #f85032 0%,#f16f5c 0%,#a8362b 99%,#a8362b 100%,#e73827 100%);
	border-radius: 50% 10% 50% 0;
}

#button-3 {
	background: radial-gradient(ellipse at bottom left, #b4ddb4 0%,#83c783 17%,#52b152 33%,#005700 83%,#002400 100%);
	border-radius: 50% 0 50% 10%;
}

#button-4 {
	background: radial-gradient(ellipse at bottom right, #faf096 0%,#fefcea 0%,#e2ca10 100%);
	border-radius: 0 50% 10% 50%;
}